* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  color: #666;
  line-height: 18px;
  font-size: 14px;
  background-color: #0f2031;
}

a {
  color: #06f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
